<div>
    <form class="form-horizontal" enctype="multipart/form-data" ng-submit="ctrl.upload()">
        <div class="form-group">
            <label for="fileInput">Specify path to XLS file:</label>
            <input type="file" name="file" id="fileInput"
                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                   file-model="ctrl.myFile">
            <input type="submit" class="btn btn-primary" value="Upload">
        </div>
    </form>
</div>