<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <mapping class="com.svichkar.model.Priority" />
        <mapping class="com.svichkar.model.Tester" />
        <mapping class="com.svichkar.model.TestCase" />
    </session-factory>
</hibernate-configuration>