.col .template {
    padding: 10px;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    background: darkgray;
}

.col {
    padding: 10px;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    background: beige;
}