<div id="site_content">
    <div id="content">
        <div>
            <form ng-submit="commit()">
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Admission Date</th>
                        <th>Group</th>
                        <th>Term</th>
                        <th>Status</th>
                        <th>Commands</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ng-bind="student.id" readonly></td>
                        <td>
                            <input ng-model="student.id" hidden>
                            <input required type="text" ng-model="student.firstName">
                        </td>
                        <td><input required type="text" ng-model="student.lastName"></td>
                        <td><input required type="date" ng-model="student.admissionDate"></td>
                        <td>
                            <select required
                                    ng-options="group.groupName for group in groupList track by group.groupId"
                                    ng-model="student.studentGroup">
                            </select>
                        </td>
                        <td>
                            <select required
                                    ng-options="term.termName for term in termList track by term.termId"
                                    ng-model="student.term">
                            </select>
                        </td>
                        <td>
                            <select required
                                    ng-options="status.statusName for status in statusList track by status.statusId"
                                    ng-model="student.status">
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="commit">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
