<div id="site_content">
    <div id="content">
        <form ng-submit="ctrl.add()">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Admission Date</th>
                    <th>Group</th>
                    <th>Term</th>
                    <th>Status</th>
                    <th>Commands</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td readonly></td>
                    <td><input required type="text" ng-model="ctrl.newStudent.firstName"></td>
                    <td><input required type="text" ng-model="ctrl.newStudent.lastName"></td>
                    <td><input required type="date" ng-model="ctrl.newAdmissionDate"></td>
                    <td>
                        <select required
                                ng-options="group.groupName for group in ctrl.groupList track by group.groupId"
                                ng-model="ctrl.newStudent.studentGroup">
                            <option value="" selected="">--select group--</option>
                        </select>
                    </td>
                    <td>
                        <select required
                                ng-options="term.termName for term in ctrl.termList track by term.termId"
                                ng-model="ctrl.newStudent.term">
                            <option value="" selected>--select term--</option>
                        </select>
                    </td>
                    <td>
                        <select required
                                ng-options="status.statusName for status in ctrl.statusList track by status.statusId"
                                ng-model="ctrl.newStudent.status">
                            <option value="" selected>--select status--</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="commit">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>